{% set letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
{% set letters = "A" %}
<mission_data version="1.0" background_id_arme="f1f9329a-5fb4-454b-b10b-8fca1bce67c4" playerShipNames_arme="Artemis\Intrepid\Aegis\Horatio\Excalibur\Hera\Ceres\Diana">
  <start id_arme="f1f9329a-5fb4-454b-b10b-8fca1bce67c4">
    <!---->
  </start>
  <folder_arme name="CureTags" id_arme="4ae5d7c7-a5e0-444a-b413-4de00dd0ffa6" expanded_arme="" />
  <event name="CureTags Init Tag Scanner" id_arme="71452a50-2820-4e93-9e75-5185041d69c0" parent_id_arme="4ae5d7c7-a5e0-444a-b413-4de00dd0ffa6">
    <if_variable name="CureTags Tag scanner initted" comparator="NOT" value="1.0" />
    <if_variable name="Sandbox Activation" comparator="GREATER" value="1.0" />
    <set_timer name="CureTags Rescan tags" seconds="1" />
    <set_variable name="CureTags Tag scanner initted" value="1.0" integer="yes" />
  </event>
  <event name="CureTags Coarse Scan" id_arme="cf134689-488f-4e77-b311-33a99fbd3e83" parent_id_arme="4ae5d7c7-a5e0-444a-b413-4de00dd0ffa6">
    <if_timer_finished name="Rescan tags" />
    <set_variable name="CureTags_isThisTagged" value="0.0" integer="no"/>
    <set_variable name="CureTags_tagCounterCoarse" value="0" integer="yes" />
    {% for letter in letters %}
      {% for i in range(0,100) %}
          <get_object_property name="{{letter}}{{'%02d' % (i)}}" property="isTagged" variable="CureTags_isThisTagged" />
          <set_variable name="CureTags_tagCounterCoarse" value="CureTags_tagCounterCoarse + CureTags_isThisTagged" integer="yes" />
      {% endfor %}
    {% endfor %}
    <set_timer name="CureTags Rescan tags" seconds="1" />
  </event>
  <event name="CureTags Global Scan" id_arme="9ecf706f-39d0-4ca4-b9f9-eb7a2385f9cc" parent_id_arme="4ae5d7c7-a5e0-444a-b413-4de00dd0ffa6">
    <if_variable name="CureTags_tagCounterCoarse" comparator="GREATER" value="0.0" />
    <log text="CureTags Global Scan" />
    <set_variable name="CureTags_isThisTagged" value="0.0" integer="no" />
    <set_variable name="CureTags_tagCounter" value="0" integer="yes" />
    <set_variable name="CureTags_tagShipNumber" value="0" integer="yes" />
    {% for letter in letters %}
      {% for i in range(0,100) %}
        <get_object_property property="isTagged" name="{{letter}}{{'%02d' % (i)}}" variable="CureTags_isThisTagged" />
        <set_variable name="CureTags_tagCounter" value="CureTags_tagCounter + CureTags_isThisTagged" integer="yes" />
        <set_variable name="CureTags_isTagCounterEqualOne" value="-0.0001020304 * (CureTags_tagCounter-1) * (CureTags_tagCounter-1) + 1" integer="yes" />
        <set_variable name="CureTags_tagShipNumber" value="CureTags_tagShipNumber + CureTags_isTagCounterEqualOne * {{i}} * CureTags_isThisTagged" integer="yes" />
      {% endfor %}
    {% endfor %}
    <log text="CureTags Global Scan End: tagShipNumber |CureTags_tagShipNumber|" />
    <warning_popup_message message="tagShipNumber = |CureTags_tagShipNumber|" consoles="MHWESCO" player_slot="0" />
    <set_variable name="CureTags_tagCounterCoarse" value="0" integer="yes" />
  </event>
  {% for letter in letters %}
    <event name="CureTags Ship Tagged {{letter}}0x" parent_id_arme="4ae5d7c7-a5e0-444a-b413-4de00dd0ffa6">
      <log text="Check - {{letter}}0|CureTags_tagShipNumber|" />
      <if_variable name="CureTags_tagShipNumber" comparator="LESS" value="10.0" />
      <if_exists name="{{letter}}0|CureTags_tagShipNumber|" />
      <if_object_property name="{{letter}}0|CureTags_tagShipNumber|" property="isTagged" comparator="EQUALS" value="1.0" />
      <log text="CureTags tag detected {{letter}}0|CureTags_tagShipNumber|" />
      <set_side_value value="2" name="{{letter}}0|CureTags_tagShipNumber|" />
      <set_named_object_tag_state name="{{letter}}0|CureTags_tagShipNumber|" tagged="0" />
    </event>
    <event name="CureTags Ship Tagged {{letter}}xx" parent_id_arme="4ae5d7c7-a5e0-444a-b413-4de00dd0ffa6">
      <log text="Check - {{letter}}|CureTags_tagShipNumber|" />
      <if_variable name="CureTags_tagShipNumber" comparator="GREATER" value="9.0" />
      <if_exists name="{{letter}}|CureTags_tagShipNumber|" />
      <if_object_property name="{{letter}}|CureTags_tagShipNumber|" property="isTagged" comparator="EQUALS" value="1.0" />
      <log text="CureTags tag detected {{letter}}|CureTags_tagShipNumber|" />
      <set_side_value value="2" name="{{letter}}|CureTags_tagShipNumber|" />
      <set_named_object_tag_state name="{{letter}}|CureTags_tagShipNumber|" tagged="0" />
    </event>
  {% endfor %}
</mission_data>