{% include 'Maps/Generator/MapTemplate.jinja' %}
{% import 'Maps/Generator/MapUtils.jinja' as sysutil %}
{% import 'Constants.xml' as const %}

{% set timer_interval = 1 %}
{% set energy_per_interval_slow = 5 %}
{% set energy_per_interval_fast = 20 %}

{% call sysutil.runOnMapLoad(g.map) %}
  <set_timer name="Vrae_Pulsar_Timer" seconds="{{ timer_interval }}" />
  <set_variable name="Vrae_Pulsar_InRange" value="0.0" integer="yes" />
{% endcall %}

{% call sysutil.runIfInSector(g.map, [2,3,4,6,7,8,10,11,12]) %}
  <if_variable name="Vrae_Pulsar_InRange" comparator="NOT" value="1.0" />
  <warning_popup_message message="Warning: Intense Electromagnetic Radiation Detected" consoles="MHWESCO">Warning: Intense Electromagnetic Radiation Pulses</warning_popup_message>
  <set_variable name="Vrae_Pulsar_InRange" value="1.0" integer="yes" />
{% endcall %}

{% call sysutil.runIfInSector(g.map, [1,5,9]) %}
  <if_variable name="Vrae_Pulsar_InRange" comparator="EQUALS" value="1.0" />
  <warning_popup_message message="Clear: Electromagnetic Radiation Nominal" consoles="MHWESCO">Electromagnetic Radiation Nominal</warning_popup_message>
  <set_variable name="Vrae_Pulsar_InRange" value="0.0" integer="yes" />
{% endcall %}

{% call sysutil.runIfInSector(g.map, [2,3,4,6,8,10,11,12]) %}
  <if_timer_finished name="Vrae_Pulsar_Timer" />
  {% for ship in const.shipConfigs %}
    <addto_object_property value="{{ energy_per_interval_slow }}" property="energy" player_slot="{{ ship.slot }}"  />
  {% endfor %}
  <set_timer name="Vrae_Pulsar_Timer" seconds="{{ timer_interval }}" />
{% endcall %}

{% call sysutil.runIfInSector(g.map, [7]) %}
  <if_timer_finished name="Vrae_Pulsar_Timer" />
  {% for ship in const.shipConfigs %}
    <addto_object_property value="{{ energy_per_interval_fast }}" property="energy" player_slot="{{ ship.slot }}"  />
  {% endfor %}
  <set_timer name="Vrae_Pulsar_Timer" seconds="{{ timer_interval }}" />
{% endcall %}