<mission_data version="1.0" background_id_arme="cc79b12b-5573-4dcf-81ea-333725385034" playerShipNames_arme="Artemis\Intrepid\Aegis\Horatio\Excalibur\Hera\Ceres\Diana">
  <start id_arme="f1f9329a-5fb4-454b-b10b-8fca1bce67c4">
    <!---->
  </start>
  <!-- GM button patches -->
  <event name="S21_FixDelMines" id_arme="acca2d78-a30b-4570-96d4-2b1356a27f4d" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="DelAllMines" />
    <destroy_near type="mines" radius="80000" centerX="50000" centerY="0" centerZ="50000" />
  </event>
  <event name="S21_RemoveS21Ships create" id_arme="acca2d78-a30b-4570-96d4-2b1356a27f4d" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_variable name="Shortcut Keys" comparator="EQUALS" value="1.0" />

    <set_gm_button text="RemoveS21Ships" x="295" y="130" h="28" w="150" />
  </event>
  <event name="S21_RemoveS21Ships destroy" id_arme="509244b2-e84d-4e16-9777-0782dc5214e9" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_variable name="Shortcut Keys" comparator="EQUALS" value="0.0" />
    <clear_gm_button text="RemoveS21Ships" />
  </event>
  <event name="S21_RemoveS21Ships destroy2" id_arme="509244b2-e84d-4e16-9777-0782dc5214e9" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_variable name="GMmenuSelect" comparator="EQUALS" value="1.0" />
    <set_variable name="Shortcut Keys" value="0.0" />

    <clear_gm_button text="RemoveS21Ships" />
  </event>

  <event name="S21_RemoveCustomShips" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="RemoveS21Ships" />
    <destroy name="Keloi Gitosz" />
    <destroy name="Black Bertha" />
    <destroy name="TSN Verdant" />
    <destroy name="TSN Whispers of Freedom" />
    <destroy name="TSN Vengeance" />
    <destroy name="TSN Warspite" />
    <destroy name="TSN Fury" />
    <destroy name="TSN Dawn" />
    <destroy name="TSN Shield" />
    <destroy name="TSN Daring" />
    <destroy name=" TSN Verdant " />
    <destroy name=" TSN Vengeance " />
    <destroy name=" TSN Warspite " />
    <destroy name=" TSN Fury " />
    <destroy name=" TSN Dawn " />
    <destroy name=" TSN Shield " />
    <destroy name=" TSN Daring " />
    <destroy name="Wisdom" />
    <destroy name="Ubuntu" />
  </event>
  <!-- Ships -->
  {% for spawnKey, ships in {
      "3": [
        "TSN Ships\+Verdant",
        "TSN Ships\+WhispersofFreedom",
        "TSN Fleets\+VerdantFleet",
        "TSN Fleets\+VerdantForm",
      ],
      "4": [
        "Civilian USFP\+Wisdom",
        "Civilian USFP\+Ubuntu",
        "Military USFP\Fleet small",
        "Military USFP\Fleet large",
      ],
      "7": [
        "Single Hegemony\+KeloiGitos"
      ],
      "10": [
        "Euphini Pirates\+BlackBertha"
      ],
    }.items() %}
  <event name="S21_Set_SpawnKey_{{ spawnKey }}" id_arme="acca2d78-a30b-4570-96d4-2b1356a27f4d" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_variable name="Ship Spawn Menu" comparator="EQUALS" value="{{ spawnKey }}.0" />
    {% for ship in ships %}
      <set_gm_button text="{{ ship }}" />
    {% endfor %}
  </event>
  {% endfor %}
  <event name="S21_Clear_SpawnKeys" id_arme="acca2d78-a30b-4570-96d4-2b1356a27f4d" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_variable name="CycleSpawnMenu" comparator="EQUALS" value="1.0" />
    {% for ship in [
          "TSN Ships\+Verdant",
          "TSN Fleets\+VerdantFleet",
          "TSN Fleets\+VerdantForm",
          "TSN Ships\+WhispersofFreedom",
          "Civilian USFP\+Wisdom",
          "Civilian USFP\+Ubuntu",
          "Single Hegemony\+KeloiGitos",
          "Euphini Pirates\+BlackBertha",
          "Military USFP\Fleet small",
          "Military USFP\Fleet large",
        ]
    %}
      <clear_gm_button text="{{ ship }}" />
    {% endfor %}
  </event>

  <event name="S21_MilitaryUSFPSmall" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Military USFP\Fleet small" />
    <create type="neutral" use_gm_position="" name="--" hullID="1603" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1603" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1500" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1501" sideValue="SideValue" fleetnumber="-1" />
    <set_variable name="Fleet Settings" value="1.0" />
    <set_variable name="Auto AI Type" value="1.0" integer="yes" />
    <set_variable name="Random Direction" value="1.0" />
    <set_variable name="Name Assign" value="1.0" integer="yes" />
  </event>

  <event name="S21_MilitaryUSFPLarge" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Military USFP\Fleet large" />
    <create type="neutral" use_gm_position="" name="--" hullID="1603" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1603" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1603" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1603" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1500" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1500" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1500" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1501" sideValue="SideValue" fleetnumber="-1" />
    <create type="neutral" use_gm_position="" name="--" hullID="1501" sideValue="SideValue" fleetnumber="-1" />
    <set_variable name="Fleet Settings" value="1.0" />
    <set_variable name="Auto AI Type" value="1.0" integer="yes" />
    <set_variable name="Random Direction" value="1.0" />
    <set_variable name="Name Assign" value="1.0" integer="yes" />
  </event>

  {% for name in ["Keloi Gitosz"] %}
  <event name="S21_{{ name }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Single Hegemony\+KeloiGitos" />
    <create type="enemy" use_gm_position="" angle="0" name="{{ name }}" hullID="2002" sideValue="SideValue" fleetnumber="-1" />

    <set_object_property property="shieldMaxStateFront" value="2000" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="2000" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="2000" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="2000" name="{{ name }}" />

    <clear_ai name="{{ name }}" />

    <set_object_property property="surrenderChance" value="0" name="{{ name }}" />

    <add_ai type="SPCL_AI" name="{{ name }}" />
    <add_ai type="CHASE_PLAYER" value1="5000" value2="500" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="3000" value2="500" name="{{ name }}" />
    <add_ai type="CHASE_STATION" value1="1000" name="{{ name }}" />
    <add_ai type="CHASE_ANGER" name="{{ name }}" />
    <add_ai type="LAUNCH_FIGHTERS" value1="2000" name="{{ name }}" />

    <set_special name="{{ name }}" ability="HET" />
    <set_special name="{{ name }}" ability="Teleport" />
    <set_special name="{{ name }}" ability="AntiMine" />
    <set_special name="{{ name }}" ability="AntiTorp" />
    <set_special name="{{ name }}" ability="Drones" />
    <set_special name="{{ name }}" ability="ShldDrain" />
    <set_special name="{{ name }}" ship="1" /> <!-- overpowered -->

    <set_ship_text name="{{ name }}" desc="Heavily modified Kralien Dreadnought."
      scan_desc="Kralien Dreadnought with heavily modulated shields. Commanded by Celestial Guardian Karanu Gerkna. Specials: HET Teleport AntiMine AntiTorp Drones ShldDrain LongRangeJump" />

  </event>
  {% endfor %}

  {% for name in ["Black Bertha"] %}
  <event name="{{ name }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Euphini Pirates\+BlackBertha" />
    <create type="enemy" use_gm_position="" angle="0" name="{{ name }}" hullID="7301" sideValue="SideValue" fleetnumber="-1" />

    <set_object_property property="shieldMaxStateFront" value="400" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="500" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="400" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="500" name="{{ name }}" />

    <clear_ai name="{{ name }}" />

    <set_object_property property="surrenderChance" value="0" name="{{ name }}" />

    <add_ai type="SPCL_AI" name="{{ name }}" />
    <add_ai type="CHASE_PLAYER" value1="5000" value2="500" name="{{ name }}" />
    <add_ai type="CHASE_STATION" value1="1000" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="3000" value2="500" name="{{ name }}" />
    <add_ai type="CHASE_ANGER" name="{{ name }}" />
    <add_ai type="LAUNCH_FIGHTERS" value1="2000" name="{{ name }}" />

    <set_special name="{{ name }}" ability="HET" />
    <set_special name="{{ name }}" ability="Teleport" />
    <set_special name="{{ name }}" ability="AntiMine" />
    <set_special name="{{ name }}" ability="AntiTorp" />
    <set_special name="{{ name }}" ability="Drones" />
    <set_special name="{{ name }}" ship="1" /> <!-- overpowered -->

    <set_ship_text name="{{ name }}" race="Helios Marauders" class="Axe" desc="Upgraded Axe class"
      scan_desc="Commanded by Black Bertha, daughter of the infamous pirate Black Billy, who was long wanted for piracy, hijacking, kidnapping, smuggling, illegal whaling, illegal dumping, deliberatly interfering with wireless telegraphy, anti-social behaviour and disorderly conduct before finally being brought to justice by TSN forces. Specials: Warp HET AntiMine AntiTorp Drones" />

  </event>
  {% endfor %}

  {% for name in ["TSN Verdant"] %}
  <event name="{{ name }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="TSN Ships\+Verdant" />
    <create type="enemy" use_gm_position="" angle="0" name="{{ name }}" hullID="1701" sideValue="SideValue" fleetnumber="-1" />

    <clear_ai name="{{ name }}" />

    <set_object_property property="surrenderChance" value="0" name="{{ name }}" />


    <set_object_property property="shieldMaxStateFront" value="150" name="TSN Verdant" />
    <set_object_property property="shieldStateFront" value="150" name="TSN Verdant" />
    <set_object_property property="shieldMaxStateBack" value="130" name="TSN Verdant" />
    <set_object_property property="shieldStateBack" value="130" name="TSN Verdant" />

    <add_ai type="SPCL_AI" name="{{ name }}" />
    <add_ai type="CHASE_STATION" value1="0" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="0" value2="0" name="{{ name }}" />
    <add_ai type="CHASE_PLAYER" value1="0" value2="0" name="{{ name }}" />
    <add_ai type="CHASE_STATION" value1="10000" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="10000" value2="10000" name="{{ name }}" />
    <add_ai type="CHASE_PLAYER" value1="10000" value2="10000" name="{{ name }}" />
    <add_ai type="CHASE_ANGER" name="{{ name }}" />
    <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="3000" value2="3000" name="{{ name }}" />
    <add_ai type="CHASE_PLAYER" value1="3000" value2="3000" name="{{ name }}" />

    <set_special name="{{ name }}" ability="HET" />
    <set_special name="{{ name }}" ability="Warp" />
    <set_special name="{{ name }}" ability="AntiTorp" />
    <set_special name="{{ name }}" ability="Drones" />
    <set_special name="{{ name }}" ship="1" /> <!-- overpowered -->

    <set_ship_text name="{{ name }}" desc="TSN Athena Class."
      scan_desc="Flagship of the 2nd Space Fleet, 1st Battle Division. Commanded by Flt. Cpt. Min Mwenya. Specials: HET Warp AntiTorp Drones" />
  </event>
  {% endfor %}

  {% for name in ["TSN Whispers of Freedom"] %}
  <event name="{{ name }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="TSN Ships\+WhispersofFreedom" />
    <create type="neutral" use_gm_position="" angle="0" name="{{ name }}" hullID="1503" sideValue="SideValue" fleetnumber="-1" />

    <set_object_property property="shieldMaxStateFront" value="180" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="180" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="220" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="220" name="{{ name }}" />

    <set_object_property property="topSpeed" value="6.0" name="{{ name }}" />

    <clear_ai name="{{ name }}" />

    <set_object_property property="surrenderChance" value="0" name="{{ name }}" />

    <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />

    <set_ship_text name="{{ name }}" desc="Modified Bulk Cargo."
      scan_desc="Able to carry approximately 3500 souls." />
  </event>
  {% endfor %}

  {% macro verdantFleetShields() %}
    <set_object_property property="shieldMaxStateFront" value="1050" name="TSN Verdant" />
    <set_object_property property="shieldStateFront" value="1050" name="TSN Verdant" />
    <set_object_property property="shieldMaxStateBack" value="930" name="TSN Verdant" />
    <set_object_property property="shieldStateBack" value="930" name="TSN Verdant" />
    {% for name in ["TSN Vengeance", "TSN Warspite"] %}
    <set_object_property property="shieldMaxStateFront" value="260" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="260" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="260" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="260" name="{{ name }}" />
    {% endfor %}
    {% for name in ["TSN Fury", "TSN Dawn", "TSN Shield"] %}
    <set_object_property property="shieldMaxStateFront" value="630" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="630" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="380" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="380" name="{{ name }}" />
    {% endfor %}
    {% for name in ["TSN Daring"] %}
    <set_object_property property="shieldMaxStateFront" value="150" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="150" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="150" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="150" name="{{ name }}" />
    {% endfor %}
  {% endmacro %}

  {% for mode in ["Fleet", "Form"] %}
  <event name="S21_Verdant{{ mode }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="TSN Fleets\+Verdant{{ mode }}" />

    <!-- flagship -->
    <create type="neutral" use_gm_position="" angle="0" name="TSN Verdant" hullID="1701" sideValue="SideValue" fleetnumber="98" />

    <!-- 2 cruisers -->
    <create type="neutral" use_gm_position="" angle="0" name="TSN Vengeance" hullID="0" sideValue="SideValue" fleetnumber="98" />
    <create type="neutral" use_gm_position="" angle="0" name="TSN Warspite" hullID="0" sideValue="SideValue" fleetnumber="98" />
    <!-- 3 battleships -->
    <create type="neutral" use_gm_position="" angle="0" name="TSN Fury" hullID="2" sideValue="SideValue" fleetnumber="98" />
    <create type="neutral" use_gm_position="" angle="0" name="TSN Dawn" hullID="2" sideValue="SideValue" fleetnumber="98" />
    <create type="neutral" use_gm_position="" angle="0" name="TSN Shield" hullID="2" sideValue="SideValue" fleetnumber="98" />
    <!-- 1 scout -->
    <create type="neutral" use_gm_position="" angle="0" name="TSN Daring" hullID="1" sideValue="SideValue" fleetnumber="98" />

    {{ verdantFleetShields() }}

    {% for name in ["TSN Verdant"] %}
      <clear_ai name="{{ name }}" />

      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />

      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_STATION" value1="0" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="0" value2="0" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="0" value2="0" name="{{ name }}" />
      <add_ai type="CHASE_STATION" value1="10000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="10000" value2="10000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="10000" value2="10000" name="{{ name }}" />
      <add_ai type="CHASE_ANGER" name="{{ name }}" />
      <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="3000" value2="3000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="3000" value2="3000" name="{{ name }}" />

    {% endfor %}

    {% for name in ["TSN Vengeance", "TSN Warspite", "TSN Fury", "TSN Dawn", "TSN Shield", "TSN Daring", "TSN Verdant"] %}
      <set_special name="{{ name }}" ability="AntiTorp" />
      <set_special name="{{ name }}" ability="Drones" />
      <set_special name="{{ name }}" ability="HET" />
      {% if mode != "Form" %}
      <set_special name="{{ name }}" ability="Warp" />
      {% endif %}
    {% endfor %}

    <set_special name="TSN Verdant" ship="1" /> <!-- overpowered -->

    <set_ship_text name="TSN Verdant" desc="TSN Athena Class."
      scan_desc="Flagship of the 2nd Space Fleet, 1st Battle Division. Commanded by Rear Adm. Min Mwenya. Specials: HET Warp AntiTorp Drones" />

    <set_timer name="S21_VerdantFormationTimer" seconds="0"/>
  </event>
  {% endfor %}

  {# approximate cosine for range [-pi/2, pi/2] #}
  {% macro center_cos(x, pi) %}({{pi}} * {{pi}} - 4 * {{x}} * {{x}})/({{pi}} * {{pi}} + {{x}} * {{x}}){% endmacro %}
  {# With positive sign, approximate cosine for range [-3*pi/2, -pi/2]. With negative sign, for range [pi/2, 3*pi/2] #}
  {% macro rim_cos(x, pi, sideSign) %}(4 * {{pi}} * {{pi}} {{sideSign}} 8 * {{x}} * {{pi}} + 3 * {{x}} * {{x}})/({{x}} * {{x}} {{sideSign}} 2 * {{pi}} * {{x}} + 2 * {{pi}} * {{pi}}){% endmacro %}
  {# With positive sign, approximate sine for range [-pi, 0]. With negative sign, for range [0, pi] #}
  {% macro sin(x, pi, sideSign) %}(16 * {{x}} * ({{pi}} {{sideSign}} {{x}}))/(5 * {{pi}} * {{pi}} {{sideSign}} 4 * {{x}} * ({{pi}} {{sideSign}} {{x}})){% endmacro %}

    {% for quadrant, data in {
      "Q1": {
        "sinSign": "-",
        "angleMin": "0",
        "angleMax": "1.57079632679",
        "cosCenter": True,
        "cosSign": "n/a",
      },
      "Q2": {
        "sinSign": "-",
        "angleMax": "3.1415926535989",
        "angleMin": "1.57079632679",
        "cosCenter": False,
        "cosSign": "-",
      },
      "Q3": {
        "sinSign": "+",
        "angleMin": "-3.1415926535989",
        "angleMax": "-1.57079632679",
        "cosCenter": False,
        "cosSign": "+",
      },
      "Q4": {
        "sinSign": "+",
        "angleMax": "0",
        "angleMin": "-1.57079632679",
        "cosCenter": True,
        "cosSign": "n/a",
      },
    }.items() %}
    <event name="S21_VerdantFormationUpdate_{{ quadrant }}" id_arme="5e421777-0fb0-4df4-9c81-7c160ff3f7e4" parent_id_arme="78fa2f1b-700f-4a72-8254-4be22e7c74ac">
    <if_timer_finished name="S21_VerdantFormationTimer" />
    <if_exists name="TSN Verdant" />
    <if_object_property property="angle" name="TSN Verdant" comparator="GREATER_EQUAL" value="{{ data.angleMin }}" />
    <if_object_property property="angle" name="TSN Verdant" comparator="LESS" value="{{ data.angleMax }}" />

    <get_object_property property="positionX" name="TSN Verdant" variable="S21_VerdantX" />
    <get_object_property property="positionZ" name="TSN Verdant" variable="S21_VerdantZ" />
    <get_object_property property="deltaX" name="TSN Verdant" variable="S21_VerdantDX" />
    <get_object_property property="deltaZ" name="TSN Verdant" variable="S21_VerdantDZ" />
    <get_object_property property="angle" name="TSN Verdant" variable="S21_VerdantAngle" />
    <set_variable name="S21_pi" value="3.1415926535989" />
    <set_variable name="S21_VerdantSin" value="{{ sin("S21_VerdantAngle", "S21_pi", data.sinSign) }}" />
    {% if data.cosCenter %}
    <set_variable name="S21_VerdantCos" value="{{ center_cos("S21_VerdantAngle", "S21_pi") }}" />
    {% else %}
    <set_variable name="S21_VerdantCos" value="{{ rim_cos("S21_VerdantAngle", "S21_pi", data.cosSign) }}" />
    {% endif %}

    {% for name, offset in {
      "TSN Vengeance": {
        "straight": -1000,
        "lateral": 700,
      },
      "TSN Warspite": {
        "straight": -1000,
        "lateral": -700,
      },
      "TSN Fury": {
        "straight": -2000,
        "lateral": 1400,
      },
      "TSN Dawn": {
        "straight": -2000,
        "lateral": -1400,
      },
      "TSN Shield": {
        "straight": -3000,
        "lateral": 2100,
      },
      "TSN Daring": {
        "straight": -3000,
        "lateral": -2100,
      },
    }.items() %}
    <clear_ai name="{{ name }}" />
    <add_ai type="SPCL_AI" name="{{ name }}" />
    <add_ai type="POINT_THROTTLE" value4="2.0" value1="S21_VerdantX + 700 * S21_VerdantDX + S21_VerdantSin * {{ offset.straight }} + S21_VerdantCos * {{ offset.lateral }}" value3="S21_VerdantZ + 700 * S21_VerdantDZ + S21_VerdantCos * {{ offset.straight }} - S21_VerdantSin * {{ offset.lateral }}" name="{{ name }}" />
    <add_ai type="DEFEND" value1="10000" value2="10000" name="{{ name }}" />
    <add_ai type="CHASE_STATION" value1="5000" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="5000" value2="3000" name="{{ name }}" />
    <add_ai type="CHASE_ANGER" name="{{ name }}" />
    <add_ai type="DEFEND" value1="5000" value2="5000" name="{{ name }}" />
    <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="3000" value2="3000" name="{{ name }}" />
    <add_ai type="CHASE_PLAYER" value1="3000" value2="3000" name="{{ name }}" />
    {% endfor %}

    <set_timer name="S21_VerdantFormationTimer" seconds="1"/>
  </event>
  {% endfor %}

  <event name="S21_VerdantFormationUpdate_Dissolve" id_arme="5e421777-0fb0-4df4-9c81-7c160ff3f7e4" parent_id_arme="78fa2f1b-700f-4a72-8254-4be22e7c74ac">
    <if_timer_finished name="S21_VerdantFormationTimer" />
    <if_not_exists name="TSN Verdant" />
    {% for name in ["TSN Verdant", "TSN Vengeance", "TSN Warspite", "TSN Fury", "TSN Dawn", "TSN Shield", "TSN Daring"] %}
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="TRY_TO_BECOME_LEADER" name="{{ name }}" />
      <add_ai type="CHASE_STATION" value1="0" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="0" value2="0" name="{{ name }}" />
      <add_ai type="CHASE_STATION" value1="10000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="10000" value2="10000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="10000" value2="10000" name="{{ name }}" />
      <add_ai type="CHASE_ANGER" name="{{ name }}" />
      <add_ai type="LEADER_LEADS" name="{{ name }}" />
      <add_ai type="FOLLOW_LEADER" name="{{ name }}" />
      <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="3000" value2="3000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="3000" value2="3000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="5000" name="{{ name }}" />
    {% endfor %}
  </event>

  <event name="S21_VerdantFleet_AIReset" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Ally12" />
    {% for name in ["TSN Verdant", "TSN Vengeance", "TSN Warspite", "TSN Fury", "TSN Dawn", "TSN Shield", "TSN Daring"] %}
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_STATION" value1="0" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="0" value2="0" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="0" value2="0" name="{{ name }}" />
      <add_ai type="CHASE_STATION" value1="10000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="10000" value2="10000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="10000" value2="10000" name="{{ name }}" />
      <add_ai type="CHASE_ANGER" name="{{ name }}" />
      <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="3000" value2="3000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="3000" value2="3000" name="{{ name }}" />
    {% endfor %}
  </event>

  <event name="S21_VerdantFleet_PlotArmor" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Ally11" />
    {{ verdantFleetShields() }}
  </event>

  {% for name in ["Wisdom"] %}
  <event name="{{ name }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Civilian USFP\+Wisdom" />
    <create type="neutral" use_gm_position="" angle="0" name="{{ name }}" hullID="1504" sideValue="SideValue" fleetnumber="-1" />

    <set_object_property property="shieldMaxStateFront" value="400" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="400" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="400" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="400" name="{{ name }}" />

    <clear_ai name="{{ name }}" />

    <set_object_property property="surrenderChance" value="0" name="{{ name }}" />

    <set_special name="{{ name }}" ability="Warp" />
    <set_special name="{{ name }}" ability="AntiTorp" />
    <set_special name="{{ name }}" ability="AntiMine" />

    <add_ai type="SPCL_AI" name="{{ name }}" />
    <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />

    <set_ship_text name="{{ name }}" race="USFP" class="Luxury Liner" desc="Reinforced presidential luxury liner."
      scan_desc="Vessel of President Amandu Liam. Specials: Warp AntiMine AntiTorp" />
  </event>
  {% endfor %}

  {% for name in ["Ubuntu"] %}
  <event name="{{ name }}" id_arme="1923bd22-e490-4245-a797-2d14e56dd7f6" parent_id_arme="8d34f566-84d9-4830-a518-47fee928470a">
    <if_gm_button text="Civilian USFP\+Ubuntu" />
    <create type="neutral" use_gm_position="" angle="0" name="{{ name }}" hullID="1602" sideValue="SideValue" fleetnumber="-1" />

    <set_object_property property="shieldMaxStateFront" value="600" name="{{ name }}" />
    <set_object_property property="shieldStateFront" value="600" name="{{ name }}" />
    <set_object_property property="shieldMaxStateBack" value="620" name="{{ name }}" />
    <set_object_property property="shieldStateBack" value="620" name="{{ name }}" />

    <clear_ai name="{{ name }}" />

    <set_object_property property="surrenderChance" value="0" name="{{ name }}" />

    <set_special name="{{ name }}" ability="Warp" />
    <set_special name="{{ name }}" ability="AntiTorp" />
    <set_special name="{{ name }}" ability="AntiMine" />

    <add_ai type="SPCL_AI" name="{{ name }}" />
    <add_ai type="CHASE_STATION" value1="1000" name="{{ name }}" />
    <add_ai type="CHASE_AI_SHIP" value1="3000" value2="500" name="{{ name }}" />
    <add_ai type="CHASE_ANGER" name="{{ name }}" />
    <add_ai type="FOLLOW_COMMS_ORDERS" name="{{ name }}" />

    <set_ship_text name="{{ name }}" race="USFP" class="Modified Patrol Boat" desc="Decommissioned USFP Patrol Boat, in civilian use."
      scan_desc="Vessel of Former President Kuyas Tolunay. Specials: Warp AntiMine AntiTorp" />
  </event>
  {% endfor %}

  <!-- System changes -->
  <event name="S21_Drenan_14_Gate" id_arme="490fd3ca-37fd-4acb-b446-092f73e0b7b3">
    <if_exists name="Ibroan Gate" />
    <if_variable name="Drenan System" comparator="EQUALS" value="2.0" />
    <destroy name="Ibroan Gate" />
  </event>
  <event name="S21_Drenan_14_CustomObjectsCreate" id_arme="f42a1458-fc0a-4130-be26-598883808b5e">
    <if_variable name="Drenan System" comparator="EQUALS" value="2.0" />
    <if_not_exists name=" Drenan XIV " />
    <if_variable name="Sector" comparator="EQUALS" value="14.0" />
    <create type="enemy" x="50000.0" y="0.0" z="72000.0" angle="22" name="Slingshot Platform" hullID="1355" sideValue="1" />
    <create type="genericMesh" x="100000.0" y="0.0" z="0.0" name=" Drenan XIV " meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" colorRed="1.0" colorGreen="1.0" colorBlue="1.0" />
    <clear_ai name="Slingshot Platform" />
    <set_object_property property="surrenderChance" value="0.0" name="Slingshot Platform" />
  </event>
  <event name="S21_Drenan_14_CustomObjectsRemove" id_arme="b9fe652e-d1bc-4871-850e-49f47fb98ac8">
    <if_variable name="Drenan System" comparator="EQUALS" value="2.0" />
    <if_exists name=" Drenan XIV " />
    <if_variable name="Sector" comparator="NOT" value="14.0" />
    <destroy name="Slingshot Platform" />
    <destroy name=" Drenan XIV " />
  </event>
  <event name="S21_Krellis_1_Gate" id_arme="4e63749f-6292-411b-83f6-7196ad7aa673">
    <if_exists name="Acantha Gate" />
    <if_variable name="Krellis System" comparator="EQUALS" value="2.0" />
    <destroy name="Acantha Gate" />
  </event>

  {% for system, stationData in
      {
          "Acantha": {
              "destroy": [
                    "CR-982",
                    "SB-112",
                    "Raschad",
                    "Onzi Oasis",
                    "Betos Bazaar",
                    "Acantha Protectorate"
              ],
              "desolate": [
                    "A'ania Denabite",
                    "Gi'Yanu Mall",
                    "Intaka",
                    "King Manufacturing",
                    "Kinth Refinery",
                    "Ladna Labs",
                    "Le-Ray Refinery",
                    "Meltorda",
                    "Multada Denabite",
                    "Nautri Ores",
                    "Nessin",
                    "Ni'yata",
                    "Nuzeli",
                    "Ozkal",
                    "Potzhu Construction",
                    "Potzhu Shipyards",
                    "Quee",
                    "Sistera Processors",
                    "Truda Mining",
                    "Utimni",
                    "Yimsu",
                    "Zorazi Mining"
              ],
          },
          "Ashia": {
              "destroy": [
                    "Acantha Gate",
                    "Phinmor Gate",
                    "Ashia Command",
                    "Ashia Transit",
                    "Ironmast",
                    "SY-716",
                    "WP-40",
                    "WP-10",
                    "WP-247",
                    "WP-221",
                    "WP-262",
                    "WP-285",
                    "SY-737",
                    "DS-76",
                    "Customs &amp; Immigration",
                    "Altun Ha Denabite",
                    "Tazumal Exchange",
                    "Ashia Authority",
                    "Valti"
              ],
              "desolate": [
                    "Casey",
                    "Cenotes Market",
                    "DS-03T",
                    "DS-128",
                    "DS-165",
                    "DS-189",
                    "DS-201",
                    "DS-229",
                    "DS-250",
                    "DS-256",
                    "DS-269",
                    "DS-277",
                    "DS-29X",
                    "DS-303",
                    "DS-311",
                    "DS-31R",
                    "DS-388",
                    "DS-42A",
                    "DS-476",
                    "DS-505",
                    "DS-512",
                    "DS-541",
                    "DS-552",
                    "DS-567",
                    "DS-661",
                    "DS-67E",
                    "DS-781",
                    "DS-819",
                    "DS-88P",
                    "Franklin",
                    "Goshen Hitchpost",
                    "Indigo Mining"
              ],
          },
          "Tyr": {
              "destroy": [
                    "Phinmor Gate",
                    "Tyr Administration",
                    "SY-287",
                    "LCS Himae",
                    "Anning Research"
              ],
              "desolate": [
                    "Edo",
                    "Gena",
                    "Guardic",
                    "I-264",
                    "Jukuru",
                    "Keshanti",
                    "Keshanti Ores",
                    "Kive",
                    "Korti",
                    "Leesh",
                    "Luek",
                    "Luro",
                    "M-184",
                    "M-844",
                    "M-845",
                    "M-846",
                    "Sam's Junkyard"
              ],
          },
          "Vilnara": {
              "destroy": [
                    "Zu Chongzhi Astrolab",
                    "Gohtzao-de",
                    "Kushihlwa Exchange",
                    "Vilnara Post",
                    "DS-500",
              ],
              "desolate": [
                    "DS-26T",
                    "DS-555",
                    "Luanchao Ores",
                    "Sheng Gaowan Mining",
                    "Ying'er Forges",
              ],
          },
          "Loria": {
              "destroy": [
                    "Customs House",
                    "Mria Gate",
                    "SY-144",
                    "SY-169",
                    "SY-172",
                    "SY-199",
                    "SY-99",
                    "SY-992",
                    "DS-21",
                    "DS-28",
                    "Immigration",
                    "DS-33",
                    "DS-39",
                    "DS-53",
                    "DS-57",
                    "WP-09",
                    "WP-54",
                    "DS-59",
                    "SY-881",
                    "DS-68",
                    "DS-71",
                    "DS-87",
                    "DS-88",
                    "DS-92",
                    "Civilian SY",
                    "Sensor Buoy",
                    "Comms Relay",
                    "WP",
                    "Loria Command",
                    "DS-44",
                    "Ries",
                    "Terranic Mining",
                    "SY-169",
                    "Comms Relay 1",
                    "Comms Relay 2",
                    "SY-144",
                    "SY-172",
                    "SY-199",
                    "SY-998",
                    "Staunton",
                    "Diana",
                    "Anton",
                    "Oralo",
                    "Penton",
                    "DS-165",
                    "Lorian Council"
              ],
              "desolate": [
                    "Akira Metal Works",
                    "Arylin",
                    "Ayana",
                    "CR-007",
                    "CR-640",
                    "CR-818",
                    "Chel-don",
                    "Chel-rea",
                    "Conduti",
                    "DS-10",
                    "DS-101",
                    "DS-105",
                    "DS-107",
                    "DS-109",
                    "DS-114",
                    "DS-118",
                    "DS-119",
                    "DS-120",
                    "DS-123",
                    "DS-125",
                    "DS-138",
                    "DS-143",
                    "DS-144",
                    "DS-148",
                    "DS-159",
                    "DS-160",
                    "DS-166",
                    "DS-170",
                    "DS-180",
                    "DS-181",
                    "DS-19",
                    "DS-190",
                    "DS-199",
                    "Deserati",
                    "Diana",
                    "Diatha",
                    "Isotopia",
                    "Melnibo",
                    "Okogonik",
                    "Phineas",
                    "Puerto Piedra",
                    "Tiffan Denebite",
                    "Taylor Denabite",
                    "Ries",
                    "Rio",
                    "Rockaway Metallurgy",
                    "Sanda",
                    "Santiago",
                    "Joshua Tree Denebite",
                    "BY-100",
                    "Singh",
                    "Umber"
              ],
          },
          "Mria": {
              "destroy": [
                      "Loria Gate",
                      "Hooke Labs",
                      "Inidabi Institute",
                      "Elite Refining",
                      "Sheol Ore Processing",
                      "Shachat Denabite",
                      "Customs &amp; Immigration",
                      "DS-701",
                      "DS-312",
                      "DS-448",
                      "DS-662",
                      "Elson",
                      "Ela Industries",
                      "Elson Shipyards",
                      "Ufaqi Mining",
                      "Mria Command",
                      "Mrir Authority",
                      "Precious Mining",
                      "Jeketa Ores",
                      "Ayala Trading Post",
                      "DS-257",
                      "SY-110",
                      "SY-198",
                      "DS-202",
                      "WP-62A",
                      "Jetel",
                      "Khoros Gate",
                      "WP-87B"
              ],
              "desolate": [
                    "Alkanillion",
                    "Axitymy",
                    "Cholander Ores",
                    "Djakinti",
                    "Finaro",
                    "Goldstone industries",
                    "Imidri Mining",
                    "Kazu",
                    "Majarki",
                    "Massimon",
                    "Oophedran",
                    "Paragusan",
                    "Premoler",
                    "Pretara",
                    "Roshtic Market",
                    "Sandinal",
                    "Tergi",
                    "Goldone Industries",
                    "Pargusan",
                    "Oppia",
                    "Zildi Systems"
              ],
          },
          "Tibur": {
              "destroy": [
              ],
              "desolate": [
                "Astral Agora",
                "Interstellar Spas"
              ],
          },
          "Enyalius": {
              "destroy": [
                "Vanir Gate",
                "ESN Yuroman",
                "Capitol Base",
                "Enyalius Command",
                "ESN St James",
                "Yknik Spas",
              ],
              "desolate": [
                "Kashawn Trading",
                "Kalnath Research",
                "Rysdak Markets",
                "SY-852",
                "Idrissa Idyl",
                "Hulca Smelters",
                "Simnex Denabite",
                "Wrokin Ores",
                "Adrath Mining",
                "Drazma Mining",
              ],
          },
          "Charon": {
              "destroy": [
                "Charon Forward Command",
                "SY-101",
                "WP-101",
                "WP-1011",
                "WP-NA",
                "WP-NB",
                "WP-NC",
                "WP-ND",
                "WP-E",
                "WP-33",
                "DS-30",
                "DS-37",
                "DS-7",
                "WP-(-2)",
                "SY-519",
                "SY-520",
                "I-407",
                "I-410",
              ],
              "desolate": [
                "DS-01",
                "DS-76",
                "RS-9992",
                "Harrling",
                "Serrin",
                "Soulin",
                "Casarosso",
                "I-442",
                "I-465",
                "I-474",
              ],
          },
          "Triton": {
              "destroy": [
                "DS-20",
                "DS-44",
                "DS-62",
                "I-280",
                "I-402",
                "I-556",
                "I-601",
              ],
              "desolate": [
                "Cassandra Observation",
                "Denabite Derby",
                "Farosh",
                "Farosh Denabyte",
                "Tarnis Nebula Refinery",
                "Triton Refuge",
              ],
          },
          "Template": {
              "destroy": [
              ],
              "desolate": [
              ],
          },
      }.items()
  %}
    {% for station in stationData.desolate %}
    <event name="S21_{{ system }}_{{ station }}" id_arme="cf2d66e7-e5b4-4b4f-ac61-27c721a34ef6">
      <if_exists name="{{ station }}" />
      <if_variable name="{{ system }} System" comparator="EQUALS" value="2.0" />
      <set_ship_text name="{{ station }}" scan_desc="No life signs. No power signature." hailtext="No response." />
      <clear_ai name="{{ station }}" />
    </event>
    {% endfor %}
    {% for station in stationData.destroy %}
    <event name="S21_{{ system }}_Destroy{{ station }}" id_arme="cf2d66e7-e5b4-4b4f-ac61-27c721a34ef6">
      <if_exists name="{{ station }}" />
      <if_variable name="{{ system }} System" comparator="EQUALS" value="2.0" />
      <destroy name="{{ station }}" />
    </event>
    {% endfor %}
  {% endfor %}

  <!-- Custom new objects in sectors -->

  {% macro createEvent(system, sector, roman, suffix=" System") %}
  <event name="S21_{{ system }}_{{ sector }}_CustomObjectsCreate" id_arme="b9fe652e-d1bc-4871-850e-49f47fb98ac8">
    <if_variable name="{{ system }}{{ suffix }}" comparator="EQUALS" value="2.0" />
    <if_variable name="Sector" comparator="EQUALS" value="{{ sector }}.0" />
    <if_not_exists name=" {{ system }} {{ roman }} " />
    <create type="genericMesh" x="100000.0" y="0.0" z="0.0" name=" {{ system }} {{ roman }} " meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" colorRed="1.0" colorGreen="1.0" colorBlue="1.0" />
  {% endmacro %}
  {% macro destroyEvent(system, sector, roman, objects, gate=False, suffix=" System") %}
  </event>
  <event name="S21_{{ system }}_{{ sector }}_CustomObjectsRemove" id_arme="cf2d66e7-e5b4-4b4f-ac61-27c721a34ef6">
    <if_variable name="{{ system }}{{ suffix }}" comparator="EQUALS" value="2.0" />
    <if_exists name=" {{ system }} {{ roman }} " />
    <if_variable name="Sector" comparator="NOT" value="{{ sector }}.0" />
    <destroy name=" {{ system }} {{ roman }} " />
    {% for name in objects %}
      <destroy name="{{ name }}" />
    {% endfor %}
  </event>
  {% if gate %}
  <event name="S21_{{ system }}_{{ sector }}_CustomObjectsJumpRemove" id_arme="cf2d66e7-e5b4-4b4f-ac61-27c721a34ef6">
    <if_variable name="{{ system }}{{ suffix }}" comparator="NOT" value="2.0" />
    <if_exists name=" {{ system }} {{ roman }} " />
    <destroy name=" {{ system }} {{ roman }} " />
    {% for name in objects %}
      <destroy name="{{ name }}" />
    {% endfor %}
  </event>
  {% endif %}
  {% endmacro %}

  {{ createEvent('Acantha', 5, 'V') }}
    <create type="enemy" x="58844.0" y="0.0" z="41380.0" angle="20" name="WP-41" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="39814.0" y="0.0" z="49216.0" angle="40" name="WP-19" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="56829.0" y="0.0" z="58843.0" angle="168" name="WP-82" hullID="1350" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-41", "WP-19", "WP-82"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Acantha', 5, 'V', ["WP-41", "WP-19", "WP-82"], True) }}

  {{ createEvent('Ashia', 1, 'I') }}
    <create count="10" type="mines" startAngle="-20" endAngle="70" startX="47206.0" startY="0.0" startZ="36739.0" radius="7000" />
    <create count="10" type="mines" startAngle="200" endAngle="290" startX="47325.0" startY="0.0" startZ="36501.0" radius="7000" />
    <create type="enemy" x="53084.0" y="0.0" z="30049.0" angle="320" name="WP-50" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="44209.0" y="0.0" z="44544.0" angle="180" name="WP-53" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="39608.0" y="0.0" z="39712.0" angle="90" name="WP-51" hullID="1350" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-50", "WP-51", "WP-53"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Ashia', 1, 'I', ["WP-50", "WP-51", "WP-53"], True) }}

  {{ createEvent('Ashia', 4, 'IV') }}
    <create type="enemy" x="15333.0" y="0.0" z="15450.0" angle="30" name="Venga Planetary Supervision" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="47087.0" y="0.0" z="12834.0" angle="0" name="CJ-503" hullID="1351" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="7126.0" y="0.0" z="43280.0" angle="180" name="CJ-422" hullID="1351" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="37810.0" y="0.0" z="37333.0" angle="270" name="CJ-319" hullID="1351" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="33172.0" y="0.0" z="18424.0" angle="254" name="WP-A" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="14143.0" y="0.0" z="28414.0" angle="150" name="WP-B" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="69890.0" y="0.0" z="71588.0" angle="0" name="Venga Antenna" hullID="1353" sideValue="1" fleetnumber="-1" />
    {% for name in ["Venga Planetary Supervision", "WP-A", "WP-B"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["Venga Antenna", "CJ-503", "CJ-422", "CJ-319"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Ashia', 4, 'IV', ["Venga Planetary Supervision", "WP-A", "WP-B", "Venga Antenna", "CJ-503", "CJ-422", "CJ-319"]) }}

  {{ createEvent('Ashia', 9, 'IX') }}
    <create count="10" type="mines" startAngle="90" endAngle="190" startX="55888.0" startY="0.0" startZ="43875.0" radius="5000" />
    <create type="enemy" x="50655.0" y="0.0" z="29008.0" angle="100" name="CJ-404" hullID="1351" fleetnumber="-1" />
    <create type="enemy" x="70159.0" y="0.0" z="53508.0" angle="300" name="CJ-304" hullID="1351" fleetnumber="-1" />
    <create type="enemy" x="75035.0" y="0.0" z="22705.0" angle="0" name="CJ-500" hullID="1351" fleetnumber="-1" />
    <create type="enemy" x="56006.0" y="0.0" z="43637.0" angle="330" name="Ashia Planetary Supervision" hullID="1005" fleetnumber="-1" />
    <create type="enemy" x="72776.0" y="0.0" z="35312.0" angle="270" name="WP-G" hullID="1350" fleetnumber="-1" />
    <create type="enemy" x="60169.0" y="0.0" z="28771.0" angle="0" name="WP-H" hullID="1350" fleetnumber="-1" />
    {% for name in ["WP-G", "WP-H", "Ashia Planetary Supervision"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["CJ-500", "CJ-404", "CJ-304"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Ashia', 9, 'IX', ["WP-G", "WP-H", "Ashia Planetary Supervision", "CJ-500", "CJ-404", "CJ-304"]) }}

  {{ createEvent('Tyr', 5, 'V') }}
    <create count="10" type="mines" startX="53666.0" startY="0.0" startZ="44745.0" radius="23000" randomRange="1000" />
    <create type="enemy" x="40836.0" y="0.0" z="54154.0" angle="0" name="Tyr Planetary Supervision" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="42936.0" y="0.0" z="32636.0" angle="0" name="CJ-42" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="64542.0" y="0.0" z="52321.0" angle="0" name="WP-42" hullID="1350" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-42", "Tyr Planetary Supervision"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["CJ-42"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Tyr', 5, 'V', ["WP-42", "CJ-42", "Tyr Planetary Supervision"]) }}

  {{ createEvent('Vilnara', 4, 'IV') }}
    <create count="30" type="mines" startAngle="-170" endAngle="150" startX="74171.0" startY="0.0" startZ="24979.0" radius="5000" />
  {{ destroyEvent('Vilnara', 5, 'IV', [], True) }}

  {{ createEvent('Vilnara', 2, 'II') }}
    <create type="enemy" x="68098.0" y="0.0" z="30931.0" angle="0" name="WP-55" hullID="1007" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="68219.0" y="0.0" z="39919.0" angle="0" name="WP-57" hullID="1007" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="68062.0" y="0.0" z="48542.0" angle="0" name="WP-58" hullID="1007" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="29960.0" y="0.0" z="70161.0" angle="0" name="Gohtzao-De Staging Platform" hullID="1361" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="49515.0" y="0.0" z="24372.0" angle="0" name="SB-11" hullID="1351" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="30810.0" y="0.0" z="47327.0" angle="0" name="SB-22" hullID="1351" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-55", "WP-57", "WP-58", "Gohtzao-De Staging Platform"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["SB-11", "SB-22"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Vilnara', 2, 'II', ["WP-55", "WP-57", "WP-58", "Gohtzao-De Staging Platform", "SB-11", "SB-22"], True) }}

  {{ createEvent('Loria', 11, 'XI') }}
    <create type="enemy" x="60081.0" y="0.0" z="45219.0" angle="0" name="Loria Platform" hullID="1355" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="65490.0" y="0.0" z="37396.0" angle="0" name="Loria Antenna" hullID="1353" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="55137.0" y="0.0" z="37239.0" angle="0" name="Loria Generator" hullID="1354" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="49150.0" y="0.0" z="48056.0" angle="0" name="Unaten" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="58745.0" y="0.0" z="27415.0" angle="0" name="Collective" hullID="1006" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="72498.0" y="0.0" z="44048.0" angle="0" name="Targ" hullID="1007" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="60203.0" y="0.0" z="15627.0" angle="0" name="WP-A" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="59960.0" y="0.0" z="63967.0" angle="0" name="WP-B" hullID="1005" sideValue="1" fleetnumber="-1" />

    <set_special name="Targ" ship="-1" captain="-1" ability="Drones" />
    {% for name in ["WP-A", "WP-B"] %}
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
    {% endfor %}
    {% for name in ["WP-A", "WP-B", "Unaten", "Targ", "Collective"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
    {% endfor %}
    <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="Collective" />
    {% for name in ["Loria Platform", "Loria Antenna", "Loria Generator"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Loria', 11, 'XI', ["WP-A", "WP-B", "Unaten", "Targ", "Collective", "Loria Platform", "Loria Antenna", "Loria Generator"]) }}

  {{ createEvent('Loria', 6, 'VI') }}
    <create type="enemy" x="52065.0" y="0.0" z="48421.0" angle="0" name="Staunton Forward Observation" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="80365.0" y="0.0" z="33117.0" angle="0" name="SB-4a" hullID="1351" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="21094.0" y="0.0" z="20242.0" angle="0" name="SB-4f" hullID="1351" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="71741.0" y="0.0" z="83157.0" angle="0" name="SB-4g" hullID="1351" sideValue="1" fleetnumber="-1" />
    {% for name in ["Staunton Forward Observation"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="6000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["SB-4a", "SB-4f", "SB-4g"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Loria', 6, 'VI', ["SB-4a", "SB-4f", "SB-4g", "Staunton Forward Observation"]) }}

  {{ createEvent('Tibur', 1, 'I') }}
    <create count="50" type="mines" startAngle="170" endAngle="460" startX="58745.0" startY="0.0" startZ="39068.0" radius="12000" />
    <create count="35" type="mines" startAngle="90" endAngle="180" startX="58745.0" startY="0.0" startZ="39068.0" radius="30000" />
    <create type="neutral" x="48057.0" y="0.0" z="51093.0" angle="0" name="WP-11G" hullID="1052" sideValue="2" fleetnumber="-1" />
    {% for name in ["WP-11G"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Tibur', 1, 'I', ["WP-11G"], True) }}

  {{ createEvent('Tibur', 2, 'II') }}
    <create count="25" type="mines" startAngle="10" endAngle="280" startX="48786.0" startY="0.0" startZ="64817.0" radius="7000" />
    <create type="neutral" x="52065.0" y="0.0" z="36032.0" angle="0" name="Tibur Mall Refugee Camp" hullID="1000" sideValue="2" />
    <create type="neutral" x="55952.0" y="0.0" z="38947.0" angle="22" name="Base 46G" hullID="1056" sideValue="2" />
    <create type="neutral" x="48543.0" y="0.0" z="38340.0" angle="123" name="Emergency Base C" hullID="1601" sideValue="2" />
    <create type="neutral" x="54009.0" y="0.0" z="40890.0" angle="100" name="Gundula" hullID="1606" sideValue="2" />
    <create type="neutral" x="53037.0" y="0.0" z="59473.0" angle="100" name="WP-2" hullID="1052" sideValue="2" />
    {% for name in ["Tibur Mall Refugee Camp", "Emergency Base C", "Gundula", "WP-2"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
    {% endfor %}
    <add_ai type="POINT_THROTTLE" value1="54009.0" value2="0.0" value3="38947.0" value4="0.0" name="Gundula" />
    <add_ai type="POINT_THROTTLE" value1="48543.0" value2="0.0" value3="38340.0" value4="0.0" name="Emergency Base C" />
    {% for name in ["Tibur Mall Refugee Camp", "Base 46G"] %}
    <set_ship_text name="{{ name }}" desc="A USFP base, hastily constructed to house refugees from occupied systems." />
    {% endfor %}
    {% for name in ["Emergency Base C", "Gundula"] %}
    <set_ship_text name="{{ name }}" desc="Ship anchored in place to serve as an emergency base and house refugees." />
    {% endfor %}
  {{ destroyEvent('Tibur', 2, 'II', ["Tibur Mall Refugee Camp", "Emergency Base C", "Gundula", "WP-2", "Base 46G"]) }}

  {{ createEvent('Tibur', 3, 'III') }}
    <create type="neutral" x="65061.0" y="0.0" z="23036.0" angle="125.3" name="SB-23" hullID="1054" sideValue="2" />
    <create type="neutral" x="52187.0" y="0.0" z="26923.0" angle="268" name="SB-28" hullID="1054" sideValue="2" />
    <create type="neutral" x="61053.0" y="0.0" z="33117.0" angle="17" name="SB-29" hullID="1054" sideValue="2" />
    <create count="5" type="mines" startX="70858.0" startY="0.0" startZ="5863.0" endX="60959.0" endY="0.0" endZ="1360.0" randomRange="90" />
    <create count="4" type="mines" startAngle="295" endAngle="325" startX="61039.0" startY="0.0" startZ="21984.0" radius="19000" randomRange="100" />
    <create count="10" type="mines" startX="53632.0" startY="0.0" startZ="8450.0" endX="37718.0" endY="0.0" endZ="23200.0" randomRange="130" />
    <create count="10" type="mines" startAngle="110" endAngle="180" startX="59287.0" startY="0.0" startZ="28596.0" radius="18000" randomRange="100" />
    <create count="4" type="mines" startAngle="96" endAngle="117" startX="67589.0" startY="0.0" startZ="21091.0" radius="29000" randomRange="100" />
 
    {% for name in ["SB-23", "SB-28", "SB-29"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Tibur', 3, 'III', ["SB-23", "SB-28", "SB-29"], True) }}

  {{ createEvent('Tibur', 4, 'IV') }}
    <create type="neutral" x="51579.0" y="0.0" z="48299.0" angle="0" name="Tibur Refugee Camp" hullID="1000" sideValue="2" />
    <create type="neutral" x="57895.0" y="0.0" z="49271.0" angle="0" name="Base 23" hullID="1003" sideValue="2" />
    <create type="neutral" x="54009.0" y="0.0" z="51457.0" angle="0" name="Base 25" hullID="1003" sideValue="2" />
    <create type="neutral" x="51944.0" y="0.0" z="54251.0" angle="200" name="Emergency Base" hullID="1503" sideValue="2" />
    <create type="neutral" x="57288.0" y="0.0" z="52307.0" angle="150" name="Tibur Refugee Supervision" hullID="1600" sideValue="2" />
    <create type="neutral" x="66033.0" y="0.0" z="65303.0" angle="30" name="USFP LET US IN" hullID="1606" sideValue="2" />
    <create type="neutral" x="64211.0" y="0.0" z="68097.0" angle="200" name="Scion" hullID="1502" sideValue="2" />
    <create type="neutral" x="69920.0" y="0.0" z="65789.0" angle="300" name="Solar Wind" hullID="1600" sideValue="2" />
    {% for name in ["Tibur Refugee Camp", "Base 23", "Base 25", "Emergency Base", "Tibur Refugee Supervision", "USFP LET US IN", "Scion", "Solar Wind"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
    {% endfor %}
    <add_ai type="POINT_THROTTLE" value1="51944.0" value2="0.0" value3="54251.0" value4="0.0" name="Emergency Base" />
    <add_ai type="POINT_THROTTLE" value1="57288.0" value2="0.0" value3="52307.0" value4="0.0" name="Tibur Refugee Supervision" />
    <add_ai type="POINT_THROTTLE" value1="66033.0" value2="0.0" value3="65303.0" value4="0.0" name="USFP LET US IN" />
    <add_ai type="POINT_THROTTLE" value1="64211.0" value2="0.0" value3="68097.0" value4="0.0" name="Scion" />
    <add_ai type="POINT_THROTTLE" value1="69920.0" value2="0.0" value3="65789.0" value4="0.0" name="Solar Wind" />
    {% for name in ["Tibur Refugee Camp", "Base 23", "Base 25"] %}
    <set_ship_text name="{{ name }}" desc="A USFP base, hastily constructed to house refugees from occupied systems." />
    {% endfor %}
    {% for name in ["Emergency Base", "Scion", "Solar Wind", "Tibur Refugee Supervision"] %}
    <set_ship_text name="{{ name }}" desc="Ship anchored in place to serve as an emergency base and house refugees." />
    {% endfor %}
    {% for name in ["USFP LET US IN"] %}
    <set_ship_text name="{{ name }}" desc="Ship anchored in place to serve as an emergency base and house refugees." scan_desc="Evidently, the ship recently changed its designation in protest against USFP migration policies." />
    {% endfor %}
  {{ destroyEvent('Tibur', 4, 'IV', ["Tibur Refugee Camp", "Base 23", "Base 25", "Emergency Base", "Tibur Refugee Supervision", "USFP LET US IN", "Scion", "Solar Wind"]) }}

  {{ createEvent('Tibur', 5, 'V') }}
    <create type="neutral" x="47571.0" y="0.0" z="42955.0" angle="0" name="Keltor Immigration Control" hullID="1001" sideValue="2" />
  {{ destroyEvent('Tibur', 5, 'V', ["Keltor Immigration Control"], True) }}

  {{ createEvent('Tibur', 8, 'VIII') }}
    <create type="neutral" x="35790.0" y="0.0" z="44412.0" angle="0" name="Tibur Secondary Refugee Camp" hullID="1001" sideValue="2" />
    <create type="neutral" x="35061.0" y="0.0" z="48663.0" angle="300" name="USFP Pancreas" hullID="1603" sideValue="2" />
    <create type="neutral" x="40527.0" y="0.0" z="45506.0" angle="20" name="Base 66" hullID="1003" sideValue="2" />
    {% for name in ["Tibur Secondary Refugee Camp", "USFP Pancreas", "Base 66"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
    {% endfor %}
    <add_ai type="POINT_THROTTLE" value1="35061.0" value2="0.0" value3="48663.0" value4="0.0" name="USFP Pancreas" />
    {% for name in ["Tibur Secondary Refugee Camp", "Base 66"] %}
    <set_ship_text name="{{ name }}" desc="A USFP base, hastily constructed to house refugees from occupied systems." />
    {% endfor %}
    {% for name in ["USFP Pancreas"] %}
    <set_ship_text name="{{ name }}" desc="Ship anchored in place to serve as an emergency base and house refugees." />
    {% endfor %}
  {{ destroyEvent('Tibur', 8, 'VIII', ["Tibur Secondary Refugee Camp", "USFP Pancreas", "Base 66"], True) }}

  {{ createEvent('Helios', 5, 'V') }}
    <create type="neutral" x="29474.0" y="0.0" z="46477.0" angle="0" name="Helios Refugee Camp" hullID="1000" sideValue="2" />
    <create type="neutral" x="23037.0" y="0.0" z="45506.0" angle="224" name="Base 56" hullID="1004" sideValue="2" />
    <create type="neutral" x="30324.0" y="0.0" z="50728.0" angle="90" name="Base 57" hullID="1050" sideValue="2" />
    <create type="neutral" x="23037.0" y="0.0" z="52307.0" angle="58.6" name="Base 59" hullID="1056" sideValue="2" />
    <create type="neutral" x="28988.0" y="0.0" z="54736.0" angle="0" name="Emergency Base 50" hullID="1600" sideValue="2" />
    <create type="neutral" x="22187.0" y="0.0" z="56923.0" angle="0" name="Emergency Base 55" hullID="1503" sideValue="2" />
    <create type="neutral" x="26073.0" y="0.0" z="60202.0" angle="0" name="Emergency Base 56" hullID="1504" sideValue="2" />
    <create type="neutral" x="16357.0" y="0.0" z="46842.0" angle="58.6" name="WP-74" hullID="1052" sideValue="2" />
    <create type="neutral" x="29474.0" y="0.0" z="40890.0" angle="58.6" name="WP-27" hullID="1052" sideValue="2" />
    <create type="neutral" x="19393.0" y="0.0" z="63117.0" angle="58.6" name="WP-292" hullID="1052" sideValue="2" />
    {% for name in ["Helios Refugee Camp", "Base 56", "Base 57", "Base 59", "Emergency Base 50", "Emergency Base 55", "Emergency Base 56", "WP-74", "WP-27", "WP-292"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
    {% endfor %}
    <add_ai type="POINT_THROTTLE" value1="28988.0" value2="0.0" value3="54736.0" value4="0.0" name="Emergency Base 50" />
    <add_ai type="POINT_THROTTLE" value1="22187.0" value2="0.0" value3="56923.0" value4="0.0" name="Emergency Base 55" />
    <add_ai type="POINT_THROTTLE" value1="26073.0" value2="0.0" value3="60202.0" value4="0.0" name="Emergency Base 56" />
    {% for name in ["Helios Refugee Camp", "Base 56", "Base 57", "Base 59"] %}
    <set_ship_text name="{{ name }}" desc="A USFP base, hastily constructed to house refugees from occupied systems." />
    {% endfor %}
    {% for name in ["Emergency Base 50", "Emergency Base 55", "Emergency Base 56"] %}
    <set_ship_text name="{{ name }}" desc="Ship anchored in place to serve as an emergency base and house refugees." />
    {% endfor %}
  {{ destroyEvent('Helios', 5, 'V', ["Helios Refugee Camp", "Base 56", "Base 57", "Base 59", "Emergency Base 50", "Emergency Base 55", "Emergency Base 56", "WP-74", "WP-27", "WP-292"]) }}

  {{ createEvent('Helios', 6, 'VI') }}
    <create count="70" type="mines" startAngle="-50" endAngle="50" startX="53280.0" startY="0.0" startZ="49028.0" radius="25000" />
    <create count="70" type="mines" startAngle="130" endAngle="230" startX="53280.0" startY="0.0" startZ="49028.0" radius="25000" />
    <create type="neutral" x="33361.0" y="0.0" z="38704.0" angle="0" name="WP-22T" hullID="1052" sideValue="2" />
    <create type="neutral" x="34090.0" y="0.0" z="59352.0" angle="0" name="WP-38F" hullID="1052" sideValue="2" />
    {% for name in ["WP-22T", "WP-38F"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Helios', 6, 'VI', ["WP-22T", "WP-38F"]) }}

  {{ createEvent('Enyalius', 8, 'VIII') }}
    <create count="25" type="mines" startAngle="130" endAngle="230" startX="49879.0" startY="0.0" startZ="33481.0" radius="15000" />
    <create count="25" type="mines" startAngle="130" endAngle="230" startX="15992.0" startY="0.0" startZ="33360.0" radius="15000" />
    <create count="14" type="mines" startAngle="170" endAngle="230" startX="83037.0" startY="0.0" startZ="32995.0" radius="15000" />
    <create type="enemy" x="66812.0" y="0.0" z="41497.0" angle="0" name="Defense Platform C" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="32875.0" y="0.0" z="41255.0" angle="0" name="Defense Platform H" hullID="1005" sideValue="1" fleetnumber="-1" />
    {% for name in ["Defense Platform H"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="2000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["Defense Platform C"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_ship_text name="{{ name }}" desc="Construction site. Non-functional." scan_desc="Estimated construction time: 0.4 years" />
    {% endfor %}
  {{ destroyEvent('Enyalius', 8, 'VIII', ["Defense Platform C", "Defense Platform H"], true) }}

  {{ createEvent('Waypoint 89', 1, 'I', "") }}
    <create count="20" type="mines" startAngle="160" endAngle="320" startX="56600.0" startY="0.0" startZ="28281.0" radius="15000" />
    <create count="20" type="mines" startAngle="160" endAngle="320" startX="31805.0" startY="0.0" startZ="63684.0" radius="15000" />
    <create count="10" type="mines" startX="42019.0" startY="0.0" startZ="44870.0" endX="42019.0" endY="0.0" endZ="44870.0" randomRange="40000" randomSeed="3" />
    <create type="enemy" x="45640.0" y="0.0" z="47593.0" angle="0" name="WP-3" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="21579.0" y="0.0" z="79774.0" angle="0" name="WP-33" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="67745.0" y="0.0" z="10300.0" angle="0" name="WP-333" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="32707.0" y="0.0" z="65037.0" angle="0" name="Ka'zaa" hullID="1008" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="60076.0" y="0.0" z="30000.0" angle="0" name="Gitos" hullID="1005" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-3", "WP-33", "WP-333", "Gitos"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="2000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["Ka'zaa"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Tractor" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="ShldVamp" />
      <set_special name="{{ name }}" clear="yes" ship="-1" captain="-1" ability="Warp" />
      <set_special name="{{ name }}" clear="yes" ship="-1" captain="-1" ability="Teleback" />
      <set_special name="{{ name }}" clear="yes" ship="-1" captain="-1" ability="Teleport" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="2000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Waypoint 89', 1, 'I', ["WP-3", "WP-33", "WP-333", "Gitos", "Ka'zaa"], true, "") }}
  {{ createEvent('Waypoint 89', 2, 'II', "") }}
    <create count="30" type="mines" startAngle="390" endAngle="90" startX="53910.0" startY="0.0" startZ="69849.0" radius="15000" />
    <create count="15" type="mines" startAngle="20" endAngle="110" startX="53910.0" startY="0.0" startZ="69699.0" radius="25000" />
    <create count="10" type="mines" startX="97364.0" startY="0.0" startZ="59870.0" endX="97514.0" endY="0.0" endZ="97464.0" randomRange="1000" />
    <create count="10" type="mines" startX="60677.0" startY="0.0" startZ="96963.0" endX="97519.0" endY="0.0" endZ="98016.0" randomRange="1000" />
    <create count="30" type="mines" startAngle="220" endAngle="270" startX="40226.0" startY="0.0" startZ="14511.0" radius="40000" />
    <create type="enemy" x="41661.0" y="0.0" z="62112.0" angle="0" name="Defence Platform C" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="34716.0" y="0.0" z="74909.0" angle="0" name="Defence Platform D" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="46498.0" y="0.0" z="52009.0" angle="0" name="Defence Platform A" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="67143.0" y="0.0" z="26439.0" angle="0" name="Kurmuk" hullID="1007" sideValue="1" fleetnumber="-1" />
    {% for name in ["Defence Platform C", "Defence Platform D", "Defence Platform A", "Kurmuk"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="5000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Waypoint 89', 2, 'II', ["Defence Platform C", "Defence Platform D", "Defence Platform A", "Kurmuk"], true, "") }}

  {{ createEvent('Waypoint 89', 3, 'III', "") }}
    <create count="50" type="mines" startAngle="-100" endAngle="180" startX="47745.0" startY="0.0" startZ="47142.0" radius="20000" />
    <create count="30" type="mines" startAngle="-100" endAngle="60" startX="11354.0" startY="0.0" startZ="87375.0" radius="20000" />
    <create count="25" type="mines" startAngle="70" endAngle="180" startX="81125.0" startY="0.0" startZ="5639.0" radius="20000" />
    <create type="neutral" x="64888.0" y="0.0" z="57669.0" angle="0" name="WP-0" hullID="1052" sideValue="2" />
    <create type="neutral" x="54662.0" y="0.0" z="65037.0" angle="0" name="WP-(-1)" hullID="1052" sideValue="2" />
    <create type="genericMesh" x="63685.0" y="0.0" z="25939.0" angle="4" name="Lambda" meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" colorRed="0.0" colorGreen="1.0" colorBlue="0.0" />
    <create type="genericMesh" x="28797.0" y="0.0" z="66691.0" angle="0" name="Nu" meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" colorRed="0.0" colorGreen="1.0" colorBlue="0.0" />
    <create type="genericMesh" x="65489.0" y="0.0" z="65338.0" angle="0" name="Sigma" meshFileName="dat\TSN\USFP\marker.dxs" textureFileName="dat\TSN\USFP\marker.png" colorRed="0.0" colorGreen="1.0" colorBlue="0.0" />
    <create type="neutral" x="35564.0" y="0.0" z="68345.0" angle="0" name="WP-N4" hullID="1052" sideValue="2" />
    <create type="neutral" x="32106.0" y="0.0" z="72105.0" angle="0" name="WP-N9" hullID="1052" sideValue="2" />
    <create type="neutral" x="72610.0" y="0.0" z="28141.0" angle="0" name="WP-L3" hullID="1052" sideValue="2" />
    <create type="neutral" x="69098.0" y="0.0" z="31804.0" angle="0" name="WP-L5" hullID="1052" sideValue="2" />
    <create type="neutral" x="49549.0" y="0.0" z="45187.0" angle="0" name="Gate Command" hullID="1002" sideValue="2" />
    {% for name in ["WP-0", "WP-(-1)", "WP-N4", "WP-N9", "WP-L3", "WP-L5", "Gate Command"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="6000" value2="5000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="5000" name="{{ name }}" />
    {% endfor %}
    {% for name in ["Sigma", "Nu", "Lambda"] %}
      <set_ship_text name="{{ name }}" desc="USFP strategic point marker" scan_desc="Designation {{ name }}." />
    {% endfor %}
  {{ destroyEvent('Waypoint 89', 3, 'III', ["WP-0", "WP-(-1)", "WP-N4", "WP-N9", "WP-L3", "WP-L5", "Gate Command", "Sigma", "Nu", "Lambda"], true, "") }}

  {{ createEvent('Waypoint 89', 4, 'IV', '') }}
    <create count="20" type="mines" startX="80828.0" startY="0.0" startZ="3834.0" endX="57519.0" endY="0.0" endZ="33759.0" />
    <create count="20" type="mines" startX="43384.0" startY="0.0" startZ="59924.0" endX="25789.0" endY="0.0" endZ="94060.0" />
    <create count="15" type="mines" startX="78271.0" startY="0.0" startZ="45639.0" endX="65338.0" endY="0.0" endZ="69248.0" />
    <create type="enemy" x="68196.0" y="0.0" z="36917.0" angle="0" name="WP-5" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="54662.0" y="0.0" z="62932.0" angle="0" name="WP-55" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="50151.0" y="0.0" z="44887.0" angle="0" name="WP-556" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="60226.0" y="0.0" z="10300.0" angle="0" name="Covenant" hullID="1006" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="28497.0" y="0.0" z="66992.0" angle="0" name="Tell" hullID="1005" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-5", "WP-55", "WP-556", "Covenant", "Tell"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="5000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Waypoint 89', 4, 'IV', ["WP-5", "WP-55", "WP-556", "Covenant", "Tell"], false, "") }}

  {{ createEvent('Triton', 11, 'XI') }}
    <create count="30" type="mines" startAngle="160" endAngle="280" startX="43685.0" startY="0.0" startZ="41278.0" radius="19000" />
    <create type="enemy" x="59430.0" y="0.0" z="32052.0" angle="0" name="WP-Q" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="33760.0" y="0.0" z="56165.0" angle="0" name="WP-O" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="35414.0" y="0.0" z="75263.0" angle="0" name="Triton Forward Command" hullID="1005" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-Q", "WP-O", "Triton Forward Command"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="5000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Triton', 11, 'XI', ["WP-Q", "WP-O", "Triton Forward Command"], true) }}

  {{ createEvent('Charon', 2, 'II') }}
    <create count="30" type="mines" startX="3384.0" startY="0.0" startZ="59022.0" endX="3384.0" endY="0.0" endZ="30022.0" />
    <create type="enemy" x="60076.0" y="0.0" z="64135.0" angle="0" name="Defence Platform 82" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="31053.0" y="0.0" z="77518.0" angle="0" name="Defence Platform 17" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="4737.0" y="0.0" z="69398.0" angle="0" name="Defence Platform 57" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="50000.0" y="0.0" z="30000.0" angle="0" name="Defence Platform 71" hullID="1350" sideValue="1" fleetnumber="-1" />
    {% for name in ["Defence Platform 82", "Defence Platform 17", "Defence Platform 57", "Defence Platform 71"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiMine" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
      <add_ai type="LAUNCH_FIGHTERS" value1="5000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Charon', 2, 'II', ["Defence Platform 82", "Defence Platform 17", "Defence Platform 57", "Defence Platform 71"], true) }}

  {{ createEvent('Charon', 8, 'VIII') }}
    <create type="enemy" x="48346.0" y="0.0" z="51503.0" angle="0" name="Defence Platform 9" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="24286.0" y="0.0" z="72556.0" angle="0" name="Defence Platform 10" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="73459.0" y="0.0" z="73909.0" angle="0" name="Defence Platform 13" hullID="1005" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="66241.0" y="0.0" z="59924.0" angle="0" name="Pam Ana" hullID="1007" sideValue="1" fleetnumber="-1" />
    {% for name in ["Pam Ana", "Defence Platform 9", "Defence Platform 10", "Defence Platform 13"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="AntiTorp" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Charon', 8, 'VIII', ["Pam Ana", "Defence Platform 9", "Defence Platform 10", "Defence Platform 13"], true) }}

  {{ createEvent('Charon', 5, 'V') }}
    <create type="enemy" x="63985.0" y="0.0" z="33609.0" angle="0" name="Slingshot Platform" hullID="1355" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="54662.0" y="0.0" z="37368.0" angle="0" name="Slingshot Power" hullID="1354" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="67594.0" y="0.0" z="48195.0" angle="0" name="Slingshot Antenna" hullID="1353" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="59775.0" y="0.0" z="54360.0" angle="0" name="WP-11011" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="40076.0" y="0.0" z="25488.0" angle="0" name="WP-110" hullID="1350" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="62482.0" y="0.0" z="40075.0" angle="0" name="Commune" hullID="1006" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="49249.0" y="0.0" z="49248.0" angle="0" name="Fortress" hullID="1007" sideValue="1" fleetnumber="-1" />
    <create type="enemy" x="51504.0" y="0.0" z="25037.0" angle="0" name="Gink" hullID="1005" sideValue="1" fleetnumber="-1" />
    {% for name in ["WP-11011", "WP-110", "Commune", "Fortress", "Gink"] %}
      <set_object_property property="topSpeed" value="0" name="{{ name }}" />
      <set_object_property property="surrenderChance" value="0" name="{{ name }}" />
      <clear_ai name="{{ name }}" />
      <set_special name="{{ name }}" ship="-1" captain="-1" ability="Drones" />
      <add_ai type="SPCL_AI" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="6000" value2="6000" name="{{ name }}" />
      <add_ai type="CHASE_AI_SHIP" value1="5000" value2="5000" name="{{ name }}" />
      <add_ai type="CHASE_PLAYER" value1="1000" value2="1000" name="{{ name }}" />
    {% endfor %}
  {{ destroyEvent('Charon', 5, 'V', ["WP-11011", "WP-110", "Commune", "Fortress", "Gink", "Slingshot Platform", "Slingshot Power", "Slingshot Antenna"], false) }}
</mission_data>
